<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kr.co.hoonproj.WebViewAppDemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myapp</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ansimclickipcollect</string>
		<string>ansimclickscard</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>citispay</string>
		<string>cloudpay</string>
		<string>com.wooricard.wcard</string>
		<string>hanawalletmembers</string>
		<string>hdcardappcardansimclick</string>
		<string>ispmobile</string>
		<string>kakaotalk</string>
		<string>kb-acp</string>
		<string>kbbank</string>
		<string>kftc-bankpay</string>
		<string>ktauthexternalcall</string>
		<string>liivbank</string>
		<string>lmslpay</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>lpayapp</string>
		<string>mpocket.online.ansimclick</string>
		<string>naversearchthirdlogin</string>
		<string>newliiv</string>
		<string>newsmartpib</string>
		<string>nhallonepayansimclick</string>
		<string>nhappcardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>payco</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>shinhan-sr-ansimclick</string>
		<string>shinsegaeeasypayment</string>
		<string>smhyundaiansimclick</string>
		<string>smshinhanansimclick</string>
		<string>supertoss</string>
		<string>tauthlink</string>
		<string>tswansimclick</string>
		<string>upluscorporation</string>
		<string>vguardstart</string>
		<string>wooripay</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
